<h1>Daily Timesheet - {{ user.username }}</h1>
<h4>{{ day_of_week }} {{ activitysheet.date }}</h4>
<table class="table table-sm table-bordered">
  <tr>
    <th>Job</th><th>Start Time</th><th>End Time</th>
  {% if activitysheet.is_complete %}
    <th>Total Time</th>
  {% endif %}
  </tr>
{% for activity in activities %}
  <tr>
    <td>{{ activity.name }}</td>
    <td>{{ activity.start_time }}</td>
    <td>{{ activity.end_time }}</td>
    <td>
      {% if not activitysheet.is_complete %}
      <form action="{% url 'updateActivityForm' activity.id %}" method="get" class='make-inline'>
        {% csrf_token %}
        <input class="btn btn-secondary" type="submit", value="Edit">
      </form>
      <form action="{% url 'deleteActivity' activity.id %}" method="post" class='make-inline'>
        {% csrf_token %}
        <input class="btn btn-secondary" type="submit", value="Delete">
      </form>
    <!--
      <a href="{% url 'updateActivity' activity.id %}">
      <button type="button" name="button">Update</button></a>
      <a href="{% url 'deleteActivity' activity.id %}">
      <button type="button" name="button">Delete</button></a></td>
      -->
      {% else %}
        {{ activity.total_time }} hrs
      {% endif %}
    </td>
  </tr>
{% endfor %}
  <tr>
    <td class="center-td-text">
      <form action="{% url 'addActivity' activitysheet.id %}" method="post">
        {% csrf_token %}
        {{ form.name }}
    </td>
    <td class="center-td-text">
        {{ form.start_time }}
    </td>
    <td class="center-td-text">
        {{ form.end_time }}
    </td>
    <td>
        <input class="btn btn-primary" type="submit" value="Add" {% if not form %}hidden{% endif %} />
      </form>
    </td>
  </tr>
</table>
<ul>
  <li><h4>{{ activitysheet.total_time }} hrs Total</h4></li>
{% if not activitysheet.is_complete %}
  <li><a href="{% url 'viewActivities' activitysheet.id 1 %}">
    <button type="button" class="btn btn-primary">Turn-in Timesheet</button></a></li>
{% else %}
  <li><h4>Timesheet Turned-In</h4></li>
{% endif %}
</ul>
