{% extends "activitysheet/base.html" %}

{% block content %}
  <h3>Timesheet - {{ activitysheet.date }}</h3>
  <table class="table table-bordered table-sm">
    <thead>
      <th></th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Total Time</th>
  {% for activity in activity_list %}
    <tr>
      <td>{{ activity.name }}</td>
      <td>{{ activity.start_time }}</td>
      <td>{{ activity.end_time }}</td>
      <td>{{ activity.total_time }} hrs</td>
    </tr>
  {% endfor %}
  </table>
  <ul><li>
    <h4>{{ activitysheet.total_time }} hrs Total</h4>
  </li></ul>
  {% if not activitysheet.is_complete and submitting == 1 %}
    <ul>
    <li><h4>Are you sure you want to turn-in this timesheet?</h4></li>
    <form action= "{% url 'complete_activitysheet' activitysheet.id %}" method="post">
      {% csrf_token %}
      <li><input class="btn btn-success" type="submit" value="Yes" /></li>
    </form>
      <li><a href="/"><button type="button" class="btn btn-danger">No</button></a></li>
    </ul>
  {% else %}
  <form action="{% url 'view_activitysheet_pdf' activitysheet.id %}" method="post" >
    {% csrf_token %}
    <ul><li><input type="submit" value="View In PDF"></li></ul>
  </form>
  {% endif %}
{% endblock %}
