{% extends "../activitysheet/base.html" %}
  {% block content %}
      {% if form.errors %}
      <p>There is a form error!</p>
      {% endif %}

      {% if next %}
      <p>Hey, you can't access that page</p>
      {% endif %}
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <ul>
          <li>username: {{ form.username }}</li>
          <li>password: {{ form.password }}</li>

          <li><input type="submit" value="Login" label="username"></li>
          <input type="hidden" name="next" value="{{ next }}" label="password">
      </form>
          <li><a href="{% url 'register' %}"><button type="button" name="button">Register</button></a></li>
        </ul>
  {% endblock %}
